/*BASE STYLING INCLUDES ELEMENT TAGS ONLY*/
header {
  display: flex;
  flex-direction: row;
  width: auto;
  height: 75px;
  background-color: #454343;
}

section {
  border: black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: auto;
}

footer {
  display: flex;
  flex-direction: row;
  width: auto;
  height: 200px;
  background-color: #FC3835;
  padding-top: 0px;
}

h1, h2 {
  color: #FFA500;
}

ul {
  display: flex;
  flex-direction: row;
  color: white;
  list-style-type: none;
}

div {
  width: 200px;
  height: 120px;
  /*margin: 50px;*/
  box-shadow: 5px 5px 5px #555;
  background-color: white;

}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
