/*THEME STYLING INCLUDES CLASS/VISUAL MODS ONLY*/

.write {
  background-color: #D9B689;
  height: 300px;
}

.read {
  background-color: #FFA500;
  height: auto;
}

.connect {
  margin: 0;
  width: 100%;
  height: 50px;
  background-color: #B7B7B7;
}

.accordion-panel {
  color: blue;
  display: none;
}

.create-pile {
  display: flex;
  flex-direction: row;
  width: 0px;
  height: auto;
  background-color: none;
}

.create-button {
  margin: 10px 10px;
  height: 100px;
}
